@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  margin: 0;
  padding: 0;
}